body {
  font-family: sans-serif;
}

nav {
  height: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li:first-child {
  flex-grow: 1;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
}
/* .model-container{
  box-sizing: border-box;
  /* display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0; */
/* } */

.model-container{
  background-color: cadetblue;
  display: none;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.model{
  background-color: aqua;
  width: 50%;
  max-width: 100%;
}

.show{
  pointer-events: auto;
  opacity: 1;
}