body {
  font-family: sans-serif;
  min-height: 100vh;
}
main {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}


nav {
  height: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li:first-child {
  flex-grow: 1;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
}
#log-in{
  display: flex;
  justify-content: center;
}

.custom-box {
  width: 75%;
}

/* #parent {
  display: flex;
  justify-content: center;
  align-items: center;
} */
