body {
  font-family: sans-serif;
  min-height: 100vh;
}

main {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  width: 80%;
  height: 50vh;
}

nav {
  height: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li:first-child {
  flex-grow: 1;
}

#secret-container {
  text-align: center;
  border: black 1px dashed;
}


#log-in{
  display: flex;
  justify-content: center;
}

/* #parent {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.has-background-color {
  background-color: #2D033B;
  color: #fff; /* set text color to white to contrast with the dark background */
}

#log-inBox{
  max-width: 80%;
  margin: 0 auto;
}

/* @media only screen and (max-width: 768px) {
/* 
@media only screen and (max-width: 768px) {
  #container {
    margin-top: 0;
    padding-top: 0;
  }
} */

/* .model-container{
  box-sizing: border-box;
  /* display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0; */
/* } */

.model-container{
  background-color: cadetblue;
  display: none;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.model{
  background-color: aqua;
  width: 50%;
  max-width: 100%;
}

.show{
  pointer-events: auto;
  opacity: 1;
}

/* #feed-section {
  display: flex;
  flex-direction: column;
} */


#sideBar {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
}

#sideBar a {
  color: #E9D5CA;
}

#mainPage{
  max-height: 100vh;
}

#mainPage {
  height: 100vh; /* set the height of the container to 100% of the viewport height */
} 

#feed-section {
  display: flex;
  flex-direction: column;
  height: 100%; /* set the height of the left column to 100% */
  
}

.card{
  max-width: 50%;
}

